body {
    font-family: '#911f8b';
    margin: 0;
    background-color: #d0da9a;
    color: #360d96;
}

.site-header {
    background-color: #d4c25a;
    color: rgb(31, 14, 133);
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: rgb(211, 212, 115);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h2 {
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #d0dd9f;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #d4d648;
}

form {
    display: block;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

button {
    background-color: #a0803d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d1c55d;
}

footer {
    text-align: center;
    background-color: #d4c25a;
    padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: rgb(231, 220, 66);
}




.btn {
    padding: 6px 10px;
    text-decoration: none;
    color: rgb(139, 44, 44);
    border-radius: 4px;
    font-size: 14px;
}

.edit-btn {
    background-color: #b92978;
}

.edit-btn:hover {
    background-color: #911f8b;
}

.delete-btn {
    background-color: #c0392b;
}

.delete-btn:hover {
    background-color: #922b21;
}